* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

.leaderboardlist {
   padding: 20px;
}

body {
    background-color: aquamarine;
   
}
.box {
    background-color: aliceblue;
    padding: 30px;
    border-radius: 30px;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
}