* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;

}
body {
    background-color: rgb(13, 141, 30);

}
.box{
    background-color: aliceblue;
    padding: 30px;
    border-radius: 30px;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
}
.box h1{
    font-size: 50px;
    font-weight: 600; 
    color: rgb(8, 0, 0);
    border-bottom: 5px solid #333;
    padding: 25px;
}
.quiz{
    padding: 25px 0;
}
.quiz h2{
    padding: 25px;
    font-size: 30px;
    color: blueviolet;
}

.btn{
    background-color: aliceblue;
    color: black;
    font-weight: 500;
    width: 100%;
    border: 1px solid black;
    padding:25px;
    margin: 10px 0;
    text-align: left;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    background-color: rgb(7, 7, 7);
    color:rgb(250, 247, 245)
}
#next-btn{
    display: none;
}